{% extends 'base.html.twig' %}

{% block title %}
  Hello RegisterController!
{% endblock %}

{% block body %}
  <div style="height: 15vh"></div>
  <section class="container mt-4" style="height: 70vh">
    <h1 class="text-center text-muted">Nouveau Utilisateur</h1>
    <div class="row">
      <div class="col-md-5 mx-auto">
        {% for label, message in app.flashes %}
          <div class="alert alert-{{ label }}">{{ message[0] }}</div>
        {% endfor %}
        {{ form(formulaire) }}
      </div>
    </div>
  </section>
{% endblock %}      
